@media (prefers-color-scheme: dark) {
    html, body {
        background-color: #111;
        color: #eee;
    }
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-wrapper {
  justify-content: center;
  display: flex;
  flex-direction: column;    /* stack header + ul */
  align-items: center;       /* keep them centered horizontally */
  gap: 20px; 
}

header {
  justify-content: center;
  align-items: center;
}

li {
  padding: 10px;
  font-family: 'Lato', Arial, Helvetica, sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px;
  border: 0px;
  margin: 0px;
}

ul:hover {
  cursor: pointer;
}

.container {
  display: flex;
  justify-content: space-evenly;
}

a {
  text-decoration: none;
}

a:visited {
  color: currentColor;
}

.dark-mode {
  background-color: #1f1f1f;
  color: #1f1f1f;
}

.text-primary {
  color: #eee
}

button {
  all: unset;
  cursor: pointer;
}


h1.middle_page_text {
  color: white;
  size: 12;
  font-family: 'Libre Baskerville', times, serif;
  display: inline-block;
  font-weight: 400;
  font-size: 60px;
  line-height: 1.4;
  font-style: normal;
  text-rendering: optimizeLegibility;
  margin: 0;
}
