/* ==========================================================================
   GLOBAL VARIABLES & DESIGN TOKENS
   ========================================================================== */
:root {
  --color-background: #111;
  --color-text: #ffffff;

  --scroll-behavior: smooth;
}